body{
    background-image: url(background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Poppins', sans-serif; 

}

.logo-img{
    display: block;
    width: 200px;
    margin: auto;
    padding-top: 50px;
}

h2{
    text-align: center;
    color: rgb(47, 255, 47);
    line-height: 10px;
}

h3{
    color: #000;
}

.navbar{
    margin: auto;
    background-color: rgb(47, 255, 47);
    width: 600px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
}

.bbox{
    text-align: center;
    padding-top: 5px;
}

input{
    font-size: x-small;
}

main{
    color: white;
}

.blocco{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.monopattino1, .monopattino2, .monopattino3 {
    display: block;
    margin: auto;
    width: 600px;
    height: 100px;
}

.nome-monopattino, .posizione-monopattino, .battery-text, .battery-Gino22, .battery-Mike24, .battery-Fede154 {
    display: block;
}

.posizione-monopattino, .battery-text{
    font-size: small;
}

.battery-Gino22{
    width: 240px;
    height: 20px;
    background-color: orange;
    border-radius: 5px;
}

.battery-Mike24{
    display: block;
    width: 350px;
    height: 20px;
    background-color:rgb(47, 255, 47);;
    border-radius: 5px;
}

.battery-Fede154{
    width: 100px;
    height: 20px;
    background-color: red;
    border-radius: 5px;
}